fieldset {
    width: 600px;
    margin: 10px 15px;
    padding: 10px;
}

div {
    border-radius: 5px;
    padding: 3px;
}

label[for=gen_one], label[for=gen_two], label[for=gen_three] {
    margin-right: 80px;
    width: 100px;
}

input[type=text], input[type=number] , select{
    margin-left: 10px;
    width: 80%;
}

label[for=name], label[for=index], label[for=from], label[for=into]{
    width: 40px;
    padding-right: 5px;
    margin-right: 20px;
    display: inline-block;
}

select {
    margin-left: 30px;
    width: 80%;
}
label {
    width:80px;
}

button {
    width: 20%;
}

div.fu {
    position: relative;
    left: 250px;
}

button[name=next] {
    position: relative;
    left: 60%;
}
