body {
    font-family: verdana, helvetica, arial, sans-serif;
    min-width: 300px;
    max-width: 600px;
    max-height: 600px;
}

.special {
    font-weight: bold;
}

article {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}



