main {
    width: 50rem;
    background-color: #eeeeee;
    flex-basis: 900px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    flex: 100%;
}

.promo1, .promo2 {
    flex-basis:200px;
    width: 10rem;
}

header {
    background-color: #aaaaaa;
}

.promo1 {
    background-color: #666666;
}

.promo2 {
    background-color: #999999;
}

footer {
    background-color: #aaaaaa;
}