body {
    background: #a8bcd5;
}

h1 {
    color: #020c7a;
    text-shadow: 4px 2px 10px white;
}

h2 {
    color: rgba(255, 0, 0, 0.5);
}

h3 {
    color: #000a7e
}

ul {
    list-style-image: url("../icons/bullet_red.png");
}

li:nth-child(1) {
    color: red;
}

li:nth-child(2) {
    color: green;
}

li:nth-child(3) {
    color: blue;
}

li:nth-child(4) {
    color: cyan;
}

li:nth-child(5) {
    color: magenta;
}

li:nth-child(6) {
    color: yellow;
}

