header {
    font-variant: small-caps;
    text-align: center;
    font-family: Verdana, sans-serif;
}

section > header {
    font-size: 30px;
    text-shadow: 8px 8px 10px #858585;
}

h5 {
    text-align: right;
}

.highlight {
    font-weight: bold;
}

p::first-letter {
    font-size: 1.5em;
}

p {
    text-indent: 2em;
    text-align: justify;
}

a {
    text-transform: lowercase;
    text-decoration: overline underline;
}

