a:link, a:visited {
    color: white;
}



.mainNav a {
    text-decoration: none;
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.subNav a{
    background-color: darkgreen;
    padding: 15px;
}

.mainNav li {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    border: 1px solid gray;
}
.mainNav a:hover {
    background-color: darkgreen;
}

.subNav a:hover {
    background-color: lightgreen;
}

.mainNav {
    position: relative;

}

.subNav {
    position: relative;
    visibility: hidden;
    height: 0;
}

ul li a:hover + .subNav, .subNav:hover{
    visibility: visible;
    height: auto;
}




@media screen and (min-width: 800px) {

    .mainNav {
        display: flex;
    }


    li {
        float: left;
        display: block;
    }
}