main + h1 , ul *, ol > .amazonOrange {
    background-color: #3de3ab;
}
li:last-child, li:first-child, li:hover {
    color: crimson;
}

li:nth-child(2n) { /*even, odd, 3n + 2 */
    color: crimson;
}
