body {
    background-color: beige;
}

h2 {
    color: cadetblue;
    background-color: aquamarine;
}

ul{
    list-style-type: square;
}
ul li {
    display: block;
}

ol {
    list-style-type: upper-roman;
    list-style-position: outside;
}