table, th, td {
    border-spacing: 0;
}

td, th {
    text-align: center;
    padding: 6px
}

thead th{
    border-bottom: 1px solid black;
}

tfoot th, tfoot td {
    border-top: 1px solid black;
}

tbody tr:nth-child(2n + 1) {
    background-color: mediumturquoise;
}

#spanning {
    border-spacing: 0;
}

#spanning td {
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 80px;
    border: 1px solid black;
}

#spanning table {
    min-width: 100%;
}

#spanning tbody tr:nth-child(2n+1) {
    background-color: mediumorchid;
}