header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

figure {
    display: inline-block;
    border: 3px solid gray;
    margin: 0 4px 0 4px;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}