* {
    margin: 0;
    padding: 0;
}

article {
    width: 60%;
}

.first {
    box-sizing: content-box;
    border: 4px ridge red ;
    margin: 15px;
    padding: 15px;
}

.second {
    box-sizing: border-box;
    border: 4px ridge green;
    margin: 15px;
    padding: 15px;
}