body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

button {
    font-size: 25px;
    color: blue;
    padding: 10px;
    margin: 1px;
    background-color: #f5cd0b;
    border: none;
    border-radius: 4px;
    box-shadow: 8px 8px 7px gray;

}
