body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 150%;
}

ul li{
    display: inline;
}

ul {
    padding: 5px;
    background-color: #f5cd0b;
}

a {
    padding: 5px;
}

li a:hover {
    color: #f5cd0b;
    background-color: blue;
}

