
.sans-serif {
    font-family: sans-serif;
}

.serif {
    font-family: serif;
}

.verdana {
    font-family: Verdana, serif;
}

.monospace {
    font-family: monospace;
}

.nerko-one {
    font-family: NerkoOne, serif;
}

@font-face {
    font-family: NerkoOne;
    src: url(../../fonts/Nerko_One/NerkoOne-Regular.ttf);
}