section,article {
    padding: 5px;
    margin: 5px;
}

body {
    display: flex;
    flex-wrap: wrap;
}

article {
    background: blue;
    flex: 1;
}

body > article:first-child{
    flex: 2;
}

article > section {
    background-color: yellow;
    display: flex;
}

article > section > section {
    background-color: yellowgreen;
}