li:nth-child(4n + 1) {
    color: lightgrey;
    background-color: dimgray;
}

li:nth-child(4n + 2) {
    color: lightgrey;
    background-color: black;
}

li:nth-child(4n + 4) {
    color: black;
    background-color: darkgrey;
}