body {
    margin: 0;
    padding: 0;
}

header {
    border-top: 2px solid midnightblue;
    border-bottom: 2px dotted midnightblue;
    background-color: #d3e4e3;
    padding: 10px;
}

.logo {
    color: #778798;
    font-size: 3em;
    padding: 4px 4px 4px 4px;
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
}

span.slogan {
    color: #778798;
    float: right;
    font-size: 2em;
    padding: 4px;
    margin-right: 30px;
}

nav {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 320px;
    margin-right: 50px;
    margin-top: 50px;
}

nav ul {
    list-style: none;
}

nav li {
    padding: 4px;
    font-size: 2em;
    border-bottom: 1px dotted #a9a9a9;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #5b5c61;
}

nav a:visited {
    color: #5b5c61;
}

nav a:hover {
    color: #a9a9a9;
}

main {
    margin-left: 350px;
    color: #666667;
    font-size: 2em;
}

body {
    background-color: #f5f5dd;
}