td , th {
    text-align: center;
    padding: 6px;
}

thead th {
    border-bottom: 1px solid black;
}

tfoot th {
    border-top: 1px solid black;
}

table, th, td {
    border-spacing: 0;
}

caption {
    font-size: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(2n + 1) {
    background-color: #4bd1cc;
}

tbody tr td {
    width: 55px;
}

tbody tr td:first-child {
    font-weight: bold;
    width: 150px;
}

tbody tr td:last-child {
    width: 150px;
}
